<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'styleb.css'%}">
</head>

<body>

  <div class="container">
    <h1 class="text-center">Home Page</h1>
    <div class="row">
      <div class="col-3">
        <img src="{% static 'hello.jpg'%}" width="239"></div>
      <div class="col-7"></div>
      <div class="col-2">settings</div>
    </div>
    <div class="row">
      <div class="col-2"> <a href="">starred answer</a></div>
      <div class="col-8">
        <div class="row row-cols-3" height=300px>
          <div class="col"><a href="">cricket</a></div>
          <div class="col"><a href="">basketball</a></div>
          <div class="col"><a href="">music</a></div>
          <div class="col"><a href="">iit preparation</a></div>
          <div class="col"><a href="">coding</a></div>
          <div class="col"><a href="">hacking</a></div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">guidee</div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="row">Connect mode</div>
        <div class="row">Starred Guidees</div>
      </div>
      <div class="col-8">
        <div class="row row-cols-3">
          <div class="col">cricket</div>
          <div class="col">basketball</div>
          <div class="col">music</div>
          <div class="col">iit preparation</div>
          <div class="col">coding</div>
          <div class="col">hacking</div>
          <div class="col">dance</div>
          <div class="col">photogrphy</div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">level</div>
        <div class="row">points</div>
        <div class="row">ratings</div>
        <div class="row">Review</div>
      </div>
    </div>



  </div>

  </div>
</body>

</html>